<div class="col-lg-4">
    <div class="box box-info">
        <div class="box-header with-border">
            <div>
                <h3 class="box-title">{adresse}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Nombre de place(s) libre</td>
                            <td>{nbplace}</td>
                        </tr>
                        <tr>
                            <td>Nombre de places total</td>
                            <td>{nbplacetotal}</td>
                        </tr>
                        <tr>
                            <td>Tarif horraire</td>
                            <td>{tarif}</td>
                        </tr>
                        <tr>
                            <td>Coût estimé</td>
                            <td>{coutestime}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



