<div class="col-lg-4">
    <div class="box box-info">
        <div class="box-header with-border">
            <div>
                <h3 class="box-title">{adresse}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <b>Nombre de place(s) libre</b>
                    </div>
                    <div class="col-md-6">
                        {nbplace}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <b>Nombre de places total</b>
                    </div>
                    <div class="col-md-6">
                        {nbplacetotal}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <b>Tarif horraire</b><br/>
                        {tarif}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <b>Coût estimé</b>
                    </div>
                    <div class="col-md-6">
                        {coutestime}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



