@using EniProjetMvc.Extensions
@using BO
@model IEnumerable<BO.Evenement>

@{
    ViewBag.Title = "";
    ViewBag.ClassIndex = "content-index";
}
<div class="site-pres">
    <h1 class="text-center">Slogan du site</h1>
    <div class="presentation">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>
<div class="seperation-title bg-success">
    événements en cours
</div>
<p id="liste-evenements-encours" class="list-event-home">
</p>

<div class="seperation-title bg-primary">
    événements à venir
</div>
<p id="liste-evenements-avenir" class="list-event-home">
</p>

@RenderPage("~/Views/Evenements/ModalDetail.cshtml")

<script type="text/javascript">

    // Règle le soucis d'utilisation multithread du context db
    function loadEventAVenir() {
        // A venir
        $.ajax({
            url: '@Url.Action("AjaxListeHome", "Evenements")?statut=@StatutEvenement.A_VENIR&limit=4',
            type: 'GET',
            dataType: 'json',
        }).done(function (response) {
            $('#liste-evenements-avenir').html(response.Html);
        }).fail(function (response) {
            swal("Une erreur est survenue lors du rechargement de la page", {
                icon: "error",
            });
            console.log(response);
        });
    }

    $(function () {
        // En cours
        $.ajax({
            url: '@Url.Action("AjaxListeHome", "Evenements")?statut=@StatutEvenement.EN_COURS&limit=4',
            type: 'GET',
            dataType: 'json',
        }).done(function (response) {
            $('#liste-evenements-encours').html(response.Html);
            loadEventAVenir();
        }).fail(function (response) {
            swal("Une erreur est survenue lors du rechargement de la page", {
                icon: "error",
            });
            console.log(response);
            loadEventAVenir();
        });

   

    });

  
</script>

