body {
    margin: 0;
    padding : 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#wrapped-content {
    height: 100%;
    overflow: scroll;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-footer {
    margin-left: 0px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.skin-black .main-header {
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.content-header {
    text-align: center;
    border-bottom: 1px solid #dedede;
    margin-top: 50px;
}

section.content {
    margin-bottom: 30px;
}

section.content.content-index {
    background-image : url('/Content/images/bg-index.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
section.content.content-index .text {
    background-color: #fff;
    margin: 15px 0;
    box-shadow: 
        inset 0px 11px 4px -10px #666,
        inset 0px -11px 4px -10px #666; 
}

.btn-nav {
    float: left;
    position: absolute;
}


.skin-black .wrapper {
    background-color: #fff;
}

.skin-black .content-header{
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
}

.login-box.register-box {
    width: 95%;
    margin: 1% auto 7% auto;
}

/* style additionnel */
h2{
    text-align: center;
}

#fileList li {
    font-size: 16px;
    display: block;
    padding: 5px 0;
    margin-top: 10px;
}

#fileList li > span {
    margin-left: 30px;
}

#fileList li > img {
    width: 50px;
}

table.table td {
    padding: 4px !important;
}

#ListEventOrganizer div.event-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    width: 100%;
    height: 200px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
#ListEventOrganizer div.event-item p + p {
    width: 100%;
}

#ListEventOrganizer .event-item + h4 {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin: 0;
    font-size: 20px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

#ListEventOrganizer .btn-liste-footer .btn{
  border-radius: 0;
  margin: 0;   
}

#ListEventOrganizer .event-item:hover {
    color: black;
}

#ListEventOrganizer .evenement {
    margin-bottom: 10px;
}

#ListEventOrganizer .no-event {
    display: inline-block;
    text-align: center;
    height: 80px;
    font-size: 16px;
    line-height: 75px;
    font-weight: 700;
    margin: 0;
}


.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    color: #333;
    z-index: 850;
}

/* Index */
.seperation-title {
    height: 60px;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 
        inset 0px 11px 8px -10px #666,
        inset 0px -11px 8px -10px #666; 
    line-height: 62px;
    margin: 15px 0;
}

.list-event-home {
    margin-bottom: 20px;
}

.bg-success {
    background-color: #00a65a;
    color: #fff;
}

.bg-info {
    background-color: #00c0ef;
    color: #fff;
}

.absolute {
    position: absolute;
}

.hidden-header {
    margin-top: 8px;
}

.lowercase {
    text-transform: lowercase;
}

a.show-all {
    position: absolute;
    right: 15px;
}

.list-event-home {
    margin-bottom : 40px;
}

.presentation {
    width: 40%;
    text-align: center;
    display: block;
    margin: 5px auto;
}

.content-index {
 margin: 0;
 padding: 0;
}

.site-pres {
    background: none;
    text-shadow: 2px 2px 4px #000;
    color: #fff;
}

/* Utisl */

.carousel-indicators {
    background-color: rgba(0,0,0,0.3);
    line-height: 10px;
    padding: 0;
    margin-bottom: 0;
}

.btn-dark-warning{
    background-color: #e08e0b;
    border-color: #E08E02;
    color: #fff;
}

.btn-dark-warning:hover{
    color: #fff;
    background-color : #E08002;
    border-color; #E05000;
}

.btn-dark-danger{
    background-color: #DD4B33;
    border-color: #D73922;
    color: #fff;
}

.btn-dark-danger:hover{
    color: #fff;
    background-color: #DD301C;
    border-color: #D71000;
}

.item > img{
    width:100%; 
    height: 230px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}