body {
    margin: 0;
    padding : 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-footer {
    margin-left: 0px;
    width: 100%;
}


.skin-black .wrapper {
    background-color: #EEEEEE;
}

.skin-black .content-header{
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
}

.login-box.register-box {
    width: 95%;
    margin: 1% auto 7% auto;
}

/* style additionnel */
h2{
    text-align: center;
}

#fileList li {
    font-size: 16px;
    display: block;
    padding: 5px 0;
    margin-top: 10px;
}

#fileList li > span {
    margin-left: 30px;
}

#fileList li > img {
    width: 50px;
}