body {
    margin: 0;
    padding : 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-footer {
    margin-left: 0px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.skin-black .main-header {
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.content-header {
    text-align: center;
    border-bottom: 1px solid #dedede;
    margin-top: 50px;
}

.btn-nav {
    float: left;
    position: absolute;
}


.skin-black .wrapper {
    background-color: #fff;
}

.skin-black .content-header{
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
}

.login-box.register-box {
    width: 95%;
    margin: 1% auto 7% auto;
}

/* style additionnel */
h2{
    text-align: center;
}

#fileList li {
    font-size: 16px;
    display: block;
    padding: 5px 0;
    margin-top: 10px;
}

#fileList li > span {
    margin-left: 30px;
}

#fileList li > img {
    width: 50px;
}

table.table td {
    padding: 4px !important;
}

#ListEventOrganizer div.event-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    width: 100%;
    height: 200px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
#ListEventOrganizer div.event-item p + p {
    width: 100%;
}

#ListEventOrganizer .event-item + h4 {
    background-color: rgba(100,100,100, 0.1);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin: 0;
    font-size: 20px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

#ListEventOrganizer .btn-liste-footer .btn{
  border-radius: 0;
  margin: 0;   
}

#ListEventOrganizer .event-item:hover {
    color: black;
}

#ListEventOrganizer .evenement {
    margin-bottom: 10px;
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #333;
}

/* Index */
.seperation-title {
    height: 40px;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 
        inset 0px 11px 8px -10px #666,
        inset 0px -11px 8px -10px #666; 
    line-height: 42px;
}

.bg-success {
    background-color: #00a65a;
    color: #fff;
}

.bg-info {
    background-color: #00c0ef;
    color: #fff;
}

.absolute {
    position: absolute;
}

.hidden-header {
    margin-top: 30px;
}

.lowercase {
    text-transform: lowercase;
}

a.show-all {
    position: absolute;
    right: 15px;
}

.list-event-home {
    margin-bottom : 40px;
}

.presentation {
    width: 40%;
    text-align: center;
    display: block;
    margin: 5px auto;
}

.content-index {
 margin: 0;
 padding: 0;
}