@model IEnumerable<BO.Evenement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @RenderPage("~/Views/Evenements/ListOrganizer.cshtml", Model)
</p>

 <!-- Modal -->
<div class="modal fade" id="detailModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script>
    function deleteEvent(id){
        swal({
            title: "Confirmation",
            text: "Voulez-vous annuler l'événement numéro " + id + " ?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                swal("Événement (pas) supprimé !", {
                    icon: "success",
                });
            } else {
                swal("Annulation de l'annulation");
            }
        });
    }

    function detailEvent(id) {
        $.ajax({
            url: '@Url.Action("Evenements","AjaxDetails")' + '/' + id,
            type: 'GET',
            dataType: 'json'
        }).done(function (response) {
            console.log(response);

        }).fail(function (response) {
            console.log(response);
        });
    }

</script>

