
@{
    ViewBag.Title = "Parking";
}

<div class="col-lg-4">
    <div class="box box-info">
        <div class="box-header with-border">
            <div>
                <h3 class="box-title">//Adresse ici</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Nombre de place(s) libre</td>
                            <td>//nbplace libre</td>
                        </tr>
                        <tr>
                            <td>Nombre de places total</td>
                            <td>//nbplace total</td>
                        </tr>
                        <tr>
                            <td>Tarif horraire</td>
                            <td>//tarif</td>
                        </tr>
                        <tr>
                            <td>Coût estimé</td>
                            <td>//cout</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



